In [1]:
import boto3
from botocore.exceptions import ClientError
import pandas as pd
import base64
from spdynamodb import DynamoTable
from datetime import datetime
import json

#### Create a table

In [2]:
dt=DynamoTable()
try:
    dt.select_table('Music')
    print(dt)
except:
    dt.create_table(
        table_name='Music',
        partition_key='Artist',
        partition_key_type='S',
        sort_key='SongTitle',
        sort_key_type='S',
        rcu=10,
        wcu=5
    )

- Table name: Music
- Table arn: arn:aws:dynamodb:us-east-1:637423169504:table/Music
- Table creation: 2024-07-21 15:59:04
- [{'AttributeName': 'Artist', 'KeyType': 'HASH'}, {'AttributeName': 'SongTitle', 'KeyType': 'RANGE'}]
- [{'AttributeName': 'Artist', 'AttributeType': 'S'}, {'AttributeName': 'SongTitle', 'AttributeType': 'S'}]
- Point-in-time recovery status: DISABLED  |  Delete protection: False

#### Write item to a table

In [3]:
dt.add_item(
    {
        "Artist": "Adele",
        "SongTitle": "Rolling in the Deep",
        "Album": "21",
        "Year": "2011",
        "Genre": "Pop",
        "Length": "3:48",
    }
)

#### Read item from a table

In [4]:
dt.get_item(
    pk_value="Adele", 
    sk_value="Rolling in the Deep",
    #consistent_read=True
)

{'Album': '21',
 'Artist': 'Adele',
 'Genre': 'Pop',
 'Year': '2011',
 'Length': '3:48',
 'SongTitle': 'Rolling in the Deep'}

#### Delete item from a table

In [5]:
dt.delete_item(
    pk_value="Adele", 
    sk_value="Rolling in the Deep"
)

True

#### Query a table

In [11]:
for i in range(1, 11):
    dt.add_item(
        {
            "Artist": "Adele",
            "SongTitle": f"Rolling in the Deep ver {i}",
            "Album": "21",
            "Year": "2011",
            "Genre": "Pop",
            "Length": "3:48",
        }
    )

In [14]:
dt.query(
    pk_value="Adele",
    sk_value="Rolling in the Deep ver 2",
    to_pandas=True
)

  Album Artist Genre  Year Length                  SongTitle
0    21  Adele   Pop  2011   3:48  Rolling in the Deep ver 2

In [12]:
dt.query(
    pk_value="Adele",
    to_pandas=True
)

   Album Artist Genre  Year Length                   SongTitle
0     21  Adele   Pop  2011   3:48         Rolling in the Deep
1     21  Adele   Pop  2011   3:48   Rolling in the Deep ver 1
2     21  Adele   Pop  2011   3:48  Rolling in the Deep ver 10
3     21  Adele   Pop  2011   3:48   Rolling in the Deep ver 2
4     21  Adele   Pop  2011   3:48   Rolling in the Deep ver 3
5     21  Adele   Pop  2011   3:48   Rolling in the Deep ver 4
6     21  Adele   Pop  2011   3:48   Rolling in the Deep ver 5
7     21  Adele   Pop  2011   3:48   Rolling in the Deep ver 6
8     21  Adele   Pop  2011   3:48   Rolling in the Deep ver 7
9     21  Adele   Pop  2011   3:48   Rolling in the Deep ver 8
10    21  Adele   Pop  2011   3:48   Rolling in the Deep ver 9

### List table names

In [3]:
dt.list_tables()

{'Region': 'us-east-1', 'Tables': ['FooBarTable', 'Music']}